body
{
  background-color: rgb(38,59,65);
}

header
{
    margin-top: 0;
    background-color: rgb(38,59,65);
    BORDER:"0";
    text-align: "center";
    position: fixed;
       
} 
img
{
    BORDER:"0";
    margin-left: 100px;
    margin-right: auto;
    display : flex;
    background-color: rgb(38,59,65);
}
.menuarea {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 5px;
  background-color: rgb(38,59,65);
  overflow-x: hidden;
  padding-top: 100px;
}
  
 

 
  
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  a {font-size: 18px;}
}


 a 
{
    font-family: verdana, verdana;
    font-size: 10pt;
    color: Black;
    text-decoration: none;
    font-weight: normal
}

a:hover 
{
    font-weight: normal
}

p 
{
    font-family: verdana, verdana;
    font-size: 10pt; color: white
}

  .trailer
{
    width: 789px;
    position: fixed;
    margin-top: 320px;
    margin-left: 99px;
    margin-right: auto;
    text-align: "center";
    background-color: rgb(224, 190, 175);

}
.menu
{  
    margin-top: 150px;
    background-color: rgb(121, 233, 255);
    margin-left: 5px;
}

  footer
{
    background-color: rgb(28, 141, 166);
    bottom: 0px;
    WIDTH : 789px;
    position: fixed;
    text-align: center;
    margin-left: 100px;
    margin-right: auto;
}